{% extends 'Website/base.html' %}

{% load staticfiles %}

{% block title %}
<title>Project Spiritus</title>
{% endblock %}

{% block content %}
<div id="fullpage">
	<div class="section">
		<img id="logo" src="{% static 'img/logo.png' %}">
		<a href="#app"><img id="arrow" src="{% static 'img/arrow-icon.gif' %}"></a>
	</div>

	<div class="section">
		<img id="flame" src="{% static 'img/flame.png' %}">
		<div class="ui center aligned container" align="center">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="myfile" class="btn btn-primary">
				<br>
				<button type="submit" class="btn btn-success" id='butt'>Upload</button>
			</form>

			{% if vid %}
				<div class="ui center aligned container">
					<video width="500" height='300' controls>
						<source src="media/final_cut.mp4" type="video/mp4">
					</video> 
				</div>
<!-- <figure id="videoContainer" data-fullscreen="false">
		<video id="video" controls preload="metadata" height="370">
			<source src="{{ vid }}" type="video/mp4">

			<object type="application/x-shockwave-flash" data="flash-player.swf?videoUrl={{ vid }}" width="1024" height="576">
				<param name="allowfullscreen" value="true" />
				<param name="wmode" value="transparent" />
			</object>
		</video>
		<div id="video-controls" class="controls" data-state="hidden">
			<button id="playpause" type="button" data-state="play">Play/Pause</button>
			<button id="stop" type="button" data-state="stop">Stop</button>
			<div class="progress">
				<progress id="progress" value="0" min="0">
					<span id="progress-bar"></span>
				</progress>
			</div>
			<button id="mute" type="button" data-state="mute">Mute/Unmute</button>
			<button id="volinc" type="button" data-state="volup">Vol+</button>
			<button id="voldec" type="button" data-state="voldown">Vol-</button>
			<button id="fs" type="button" data-state="go-fullscreen">Fullscreen</button>
		</div>
</figure> -->

			{% endif %}
		</div>
	</div>
</div>

{% endblock %}