{% extends 'Website/base.html' %}

{% load staticfiles %}

{% block title %}
<title>Project Spiritus</title>
{% endblock %}

{% block content %}
<div id="fullpage">
	<div class="section">
		<img id="logo" src="{% static 'img/logo.png' %}">
		<a href="#app"><img id="arrow" src="{% static 'img/arrow-icon.gif' %}"></a>
	</div>

	<div class="section">
		<img id="flame" src="{% static 'img/flame.png' %}">
		<div class="ui center aligned container" align="center">
			<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="myfile" class="btn btn-primary">
				<br>
				<button type="submit" class="btn btn-success" id='butt'>Upload</button>
			</form>

			{% if vid %}
				<div class="ui center aligned container">
					<video width="500" height='300' controls>
						<source src="{{ resu }}" type="video/mp4">
					</video> 
				</div>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}